.main {
    background-color: #ffd7c0;
    color: #212121;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgImage {
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    margin: auto;
}

#heading {
    font-size: 50px;
}

.sigh {
    padding-top: 10px;
}

.sigh img {
    border-radius: 20px;
    height: 440px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#yes {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px; /* Adjusted margin */
}

#no {
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    transition: left 0.5s, top 0.5s;
    margin-left: 5px; /* Adjusted margin */
}

.end {
    padding-top: 60px;
}

@media screen and (max-width: 768px) {
    #heading {
        font-size: 30px;
    }

    .sigh img {
        height: 250px;
    }

    .buttons #no {
        height: 40px;
        width: 120px;
        font-size: 14px;
        margin-left: -10px;
    }

    .buttons #yes {
        height: 40px;
        width: 120px;
        font-size: 14px;
        margin-right: -10px;
    }
}

