.main{
    background-color: #ffd7c0;
    color: #212121;
    overflow: hidden;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.bgImage{
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    text-align: center;
    margin: auto;
}
#heading{
    font-size: 50px;
}
.sigh{
    padding-top: 10px;
    img{
        border-radius: 20px;
        height: 440px;
    }
    padding-bottom: 30px;
}
.buttons{
    #yes{
        height: 50px;
        width: 150px;
        margin-left: -300px;
        border-radius: 10px;
        cursor: pointer;
    }
    #no{
        cursor: pointer;
        position: absolute;
        height: 50px;
        width: 150px;
        margin-left: 160px;
        border-radius: 10px;
        transition: left 0.5s, top 0.5s;
    }
}
.end{
    padding-top: 60px;
}
@media screen and (max-width: 768px) {
    #heading {
        font-size: 30px;
    }

    .sigh img {
        height: 250px;
    }

    .buttons #yes, .buttons #no {
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
}
